{% extends 'base.html' %}



{% block content %}
   <div class="containter">
    <div class="row">
        <div class="col-xs-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">添加用例</h3>
                </div>
                <div class="panel-body">
                    <form action="" method="POST">
                        {% csrf_token %}
                        {% for field in case_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="pull-right text-danger">{{ case_form.non_field_errors }}</span>
                        <input type="submit" value="保存" class="btn btn-primary pull-left">
                    </form>
                </div>
            </div>                
        </div>
    </div>
{% endblock %}